.about{
    margin: 0 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid #929292;
    h2{
        font-size: 200%;
        text-align: center;
        margin-bottom: 3rem;
    }
    p{
       line-height:170% ; 
       
    }
    .btn{
        
        padding: .5rem 1rem;
        outline: none;
        border-radius: 50px;
        border: none;
        margin-top: 1rem;
        background-color: rgba(243, 210, 62, 0.767);
    }
    img{
        width: 100%;
        max-width: 513px;
        float: right;
        margin-left: 1rem;
        border-radius: 3px;
    }
    br{
        clear: both;
    }
}
@media(max-width:672px){
    .about{
        margin: 0 1rem;
        padding: 2rem .7rem;
        h2{
            margin-bottom: 2rem;
        }
        img{
            margin-bottom: 1rem;
        }
    }

}