.aboutus{
    padding: 4rem 3rem;
    h2{
        font-size: 200%;
        margin-bottom: 2rem;
        padding-left: 1rem;
        border-left: 2px solid rgb(185, 184, 184);
    }
    img{
        width: 295px;
        float: right;
       
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }
    br{
        clear: both;
    }
    p{
        line-height: 160%;
        padding-left: 1rem;
        text-align: justify;
    }
}
@media(max-width:651px){
    .aboutus{p{
        padding-left: 0;
    }
    h2{
        margin-left: -17px;
    }
        .img{
            position: relative;
            width: 100%;
            border-radius: 2px;
        }
        .img::before{
            content: '';
            width: 100%;
            height: 130px;
            background-image: linear-gradient(to top, rgba(255,255,255,1),rgba(255,255,255,0));
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        img{
            float: none;
            width: 100%;
            display: block;
            margin: 0;
            border-radius: 6px;
        }
        
    }
}