.about{
    margin: 0 3rem;
    padding: 2rem 0;
    border-bottom: 1px solid #838383c0;
    .abt-head{
        padding: 1rem 0;
        h2{
            text-align: center;
            font-size: 200%;
        }
    }
    .abt-body{
        display: flex;
        justify-content: center;
    
        margin: 0 auto;
        .abt-left{
            width: 50%;
            align-self: center;
            p{
                line-height: 26px;
            }
            .btn{
                padding:.7rem 2rem;
                border: none;
                outline: none;
                margin-top: 1rem;
                border-radius: 50px;
                background-color:rgba(252, 225, 106, 0.856) ;
            }
        }
        .abt-right{
            width: 40%;
            justify-self: center;
            img{
                max-width: 80%;
                display: block;
                margin: 0 auto;
               min-width: 315px;
                border-radius: 5px;
              
            }
        }
    }
    
    
}






@media(max-width:924px)
{
    .about{
        .abt-body{
            .abt-right{
                margin-left: 1rem;
            }
        }
    }
}

@media(max-width:838px){
    .about{
        .abt-body{
            .abt-right{
                width:50%;
                margin-left: 0;
            }
        }
    }
}

@media(max-width:764px){
    .about{
        .abt-head{
            padding: 0 0 2rem;
        }
        .abt-body{
            flex-direction: column;
            .abt-left{
                width:90%;
                order:2;
                .btn{
                    display: block;
                    margin-left: auto;
                    margin-right: auto ;
                }
            }
            .abt-right{
                width: 90%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }
        }
    }
}

@media(max-width:694px){
    .about{
        margin: 0 1rem;
        padding: 2rem .7rem;
        
    }

}
@media(max-width:488px){
    .about{
        .abt-body{
            .abt-right{
               img{
                   min-width: 293px;
               }
            }
        }
    }
}
@media(max-width:376px){
    .about{
        .abt-body{
            .abt-right{
               img{
                   min-width: 256px;
               }
            }
            .abt-left{
                p{
                    text-align: justify;
                }
            }
        }
    }
}