.art{
    margin: 1rem 3rem;
    .cate{
        padding: 0 0 2.5rem;
        border-bottom: 1px solid #838383c0;
        .cate-head{
            padding-right: 10px;
            transform: translateY(60px);
            opacity: 0;
            transition: all ease-in-out .5s;
            h2{
                font-size:162%;
                font-weight:100;
                margin-bottom:.4rem;
            }
            .cate-head-body{
                display: flex;
                justify-content: space-between;
                p{
                    color: #3d3d3d;
                }
                a{
                    color: black;
                }
            }
        }
        .cate-head.scrollon{
            opacity: 1;
            transform: translateY(0);
        }
        .cate-body{
            .cate-cards{
                margin-right: 10px;
                
               
               

                .cards{
                padding-left: 10px;
                display: flex;
               
                justify-content: space-between;
                position: relative;
                left: 0;
                opacity: 0;
                transform: translateX(70px);
                transition: all ease-in-out .8s;
               
                .card{
                        max-width: 230px;
                        min-width: 142px;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2),-2px 2px 8px rgba(0, 0, 0, 0.2);
                        text-align: center;
                        margin: 1rem 2% 1rem 0;
                        position: relative;
                        &:last-of-type{
                            margin-right: 0;
                        }
                    }
                }
                .cards.scrollleft{
                    opacity: 1;
                    transform: translateX(0);
                }
               
            }
        
        }
    
        
    }
    .works{
        padding: 1.5rem 0;
        margin-top: 1rem;
        .works-head{
            padding:0 10px;
            opacity: 0;
            transform: translateY(60px);
            transition: all ease-in-out .8s;
            h2{
                font-size:162%;
                font-weight:100;
                margin-bottom:.4rem;
            }
            p{
                color: #3d3d3d;
            }

        }
        .works-head.scrolling{
            opacity: 1;
            transform: translateY(0);
        }
        .work-body{
            display: flex;
            margin-top: 1rem;
            padding: 0 10px;
            flex-wrap: wrap;
            justify-content: space-between;
            .work-card{
                opacity: 0;
                transform: translateY(60px);
                transition: all ease-in-out .8s;
                width: 19%;
                margin-bottom: 1rem;
                img{
                    border-radius: 0px;
                }
                h4{
                    font-weight: 100;
                    font-size: 130%;
                    padding-left: 3px;
                }
                p{
                    font-size: 93%;
                    padding-left: 3px;
                }
            }
            .work-card.scrollcard{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    img{
        width: 100%;
        border-radius:5px ;
    }
}  
@media(max-width:1024px){
    .art{
        .works{
            .work-body{
                .work-card{
                    width:24%;
                }
            }
        }
    }
}              
@media(max-width:894px){
    .art{
        margin: 1rem 1rem;
        .cate{
            .cate-body{
                .cate-cards{
                    .cards{
                        overflow-x: scroll;
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        scrollbar-width: none;
                        .card{
                            min-width:23%;
                            margin: 1rem 1.5% 1rem 0;
                           
                        }
                    }
                }
            }
        }
    }
}    
@media(max-width:764px){
    .art{
        .cate{
            padding: 1rem 0 2rem;
            .cate-body{
                .cate-cards{
                   .cards{
                    .card{
                        min-width:31%;
                        margin: 1.5rem 4% 1rem 0;
                       
                    }
                   }
                }
            }
        }
        .works{
            .work-body{
                .work-card{
                    width:31%;
                }
            }
        } 
    }
}    
@media(max-width:512px){
    .art{
        .cate{
            .cate-body{
                .cate-cards{
                   .cards{
                    .card{
                        min-width:92%;
                        
                       
                    }
                   }
                }
            }
        }
        .works{
            .work-body{
                .work-card{
                    width:48%;
                }
            }
        } 
    }
}                       
