.art{
    margin: 1rem 3rem;
    .cate{
        .cate-head{
            padding:0 10px;
            h2{
                font-size:162%;
                font-weight:100;
                margin-bottom:.4rem;
            }
            .cate-head-body{
                display: flex;
                justify-content: space-between;
                p{
                    color: #3d3d3d;
                }
                a{
                    color: black;
                }
            }
        }
        .cate-body{
            .cate-cards{
                margin-right: 10px;
                
               
               

                .cards{
                padding-left: 10px;
                display: flex;
               
                justify-content: space-between;
                position: relative;
                left: 0;
               
                .card{
                        max-width: 230px;
                        min-width: 142px;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
                        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2),-2px 2px 8px rgba(0, 0, 0, 0.2);
                        text-align: center;
                        margin: 1rem 2% 1rem 0;
                        position: relative;
                        &:last-of-type{
                            margin-right: 0;
                        }
                    }
                }
               
            }
        }
     
        
    }
    img{
        width: 100%;
        border-radius:5px ;
    }
}                
@media(max-width:894px){
    .art{
        margin: 1rem 1rem;
        .cate{
            .cate-body{
                .cate-cards{
                    .cards{
                        overflow-x: scroll;
                        &::-webkit-scrollbar{
                            display: none;
                        }
                        scrollbar-width: none;
                        .card{
                            min-width:23%;
                            margin: 1rem 1.5% 1rem 0;
                           
                        }
                    }
                }
            }
        }
    }
}    
@media(max-width:764px){
    .art{
        .cate{
            .cate-body{
                .cate-cards{
                   .cards{
                    .card{
                        min-width:31%;
                        margin: 1rem 2% 1rem 0;
                       
                    }
                   }
                }
            }
        }
    }
}    
@media(max-width:512px){
    .art{
        .cate{
            .cate-body{
                .cate-cards{
                   .cards{
                    .card{
                        min-width:47%;
                        
                       
                    }
                   }
                }
            }
        }
    }
}                       
