.footer{
    background-color: #000000;
    .footer-head{
        padding: 4rem 10px 2rem;
        display: flex;
        justify-content: space-between;
        width:95%;
        margin: 0 auto;
       
       .footer-logo{
           width: 30%;
           text-align: center;
           padding:0 8px;
            .f-logo{
                max-width: 110px;
                height: auto;
                margin: 0 auto;
                img{
                    width: 100%;
                }
                
            }
            h4,h5{
                color: rgb(180, 180, 180);
                margin-top: 5px;
            } 
    }  
    .footer-nav,.footer-ser{
        display: flex;
        flex-direction: column;
        
        width: 20%;
        h3{
            color: #ffffff;
            margin-bottom: 15px;
        }
        .nav-item{
            .nav-link{
                a{
                    color:  rgba(148, 148, 148, 0.842);
                }
            }
        }
    }
    .footer-contact{
        display: flex;
        flex-direction: column;
        
        width: 30%;
        color: #ffffff;
        h3{
            margin-bottom: 15px;
        }
        i{
            margin-bottom: 8px;
            color: rgba(148, 148, 148, 0.842);
        }
        .social-icons{
            padding-top: 15px;
            i{
                padding-right: 8px;
                font-size: 130%;
                color: rgba(148, 148, 148, 0.842)
                ;
            }
        }
        
       
    }
        
    }
    .footer-body{
        color: rgba(148, 148, 148, 0.842);
        width:80%;
        border-top: 1px solid #727272ee;
        margin:0 auto;
        padding: 10px 0;
        font-size: 79%;
        text-align: center;

    }
}
@media(max-width:768px){
    .footer{
        .footer-head{
            flex-wrap: wrap;
          
            .footer-logo{
                order: 1;
                width: 45%;
            }
            .footer-contact{
                order: 2;
                width: 40%;
            }
            .footer-nav{
                width:45%;
                order: 3;
                align-items: center;
                margin-top: 20px;
            }
            .footer-ser{
                order: 4;
                width: 40%;
                align-items: flex-start;
                margin-top: 20px;

            }
        }
    }
}
@media(max-width:580px){
 .footer{
     .footer-head{
         flex-direction: column;
         .footer-logo{
             width: 100%;
             margin-bottom: 2rem;
         }
         .footer-nav{
             align-items: flex-start;
         }
     }
 }
}