html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  background-color: #fff;
}

.navbar .nav-brand {
  margin-left: 2rem;
}

.navbar .nav-brand img {
  height: 45px;
  width: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  transform: translate(-5%, 60%);
  z-index: 2;
}

.navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0 2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.navbar .navbar-nav .nav-item .nav-link a {
  color: #000000;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navbar .navbar-nav .nav-item .nav-link a:hover {
  color: #fce16a;
}

section .bg-site {
  position: relative;
  background-image: linear-gradient(53deg, white 15%, transparent 69%),
    url(../assets/img/debby-hudson-MzSqFPLo8CE-unsplash.jpg);
  background-size: cover;
  height: 85vh;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

section .bg-site .bg-content {
  text-align: center;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12rem 0 0 3rem;
}

section .bg-site .bg-content h2 {
  font-size: 205%;
  margin-bottom: 1rem;
  font-weight: 100;
}

section .bg-site .bg-content p {
  font-size: 117%;
  color: #232222;
  font-weight: lighter;
}

section .bg-site .bg-content .btn {
  font-size: 110%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: rgba(252, 225, 106, 0.856);
}

section .bg-site::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 55px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#fff),
    to(transparent)
  );
  background-image: linear-gradient(to top, #fff, transparent);
}

.navbar.nav-scroll {
  -webkit-box-shadow: 0px 9px 16px #1b1a1a;
  box-shadow: 0px 9px 16px #1b1a1a;
  height: 60px;
  transition: all 0.8s ease-in-out;
  background-color: #ffffff;
}

.navbar.nav-scroll .nav-brand img {
  height: 38px;
}

.navbar.nav-scroll .navbar-nav .nav-item .nav-link {
  padding: 0 1.5rem;
}

@media (max-width: 912px) {
  .navbar {
    transition: all 0.8s ease-in-out;
    box-shadow: 0px 9px 16px #1b1a1a;
  }

  li a {
    animation: animate 0.8s backwards;
    pointer-events: none;
  }

  li a.fade {
    pointer-events: all;
    animation: animate 0.8s forwards;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.7rem;
  }
  .navbar.nav-collapse {
    transition: all 0.8s ease-in-out;
    height: 290px !important;
  }

  .navbar.nav-collapse .navbar-nav {
    border-top: 0.01rem solid #c2c4b6;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 1.4rem;
  }
}

@media (max-width: 753px) {
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
    transition: all 1s ease-in-out;
  }

  .line.close:nth-child(1) {
    transform: rotate(45deg) translate(12px);
    transition: all 0.5s ease-in-out;
  }
  .line.close:nth-child(2) {
    background: transparent;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
  }
  .line.close:nth-child(3) {
    transform: rotate(-45deg) translate(10px);
    transition: all 0.5s ease-in-out;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar .nav-brand {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .navbar .nav-brand img {
    margin-top: 10px;
  }
  .navbar .toggle-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .navbar .navbar-nav {
    width: 100%;
    margin-top: 14px;
  }
  .navbar .navbar-nav .nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0 0 0;
    padding-bottom: 10px;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0;
  }
  .navbar .navbar-nav .nav-item .nav-link a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }
}

@media (max-width: 602px) {
  .navbar .nav-brand img {
    height: 41px;
  }
  .navbar .navbar-nav {
    margin-top: 17px;
  }
}

@media (max-width: 512px) {
  .navbar .nav-brand {
    margin-left: 1rem;
  }
  .navbar .toggle-collapse {
    right: 1.5rem;
  }
  .navbar.nav-scroll .toggle-collapse i {
    font-size: 140%;
  }
  section .bg-site {
    height: 70vh;
    background-image: linear-gradient(45deg, white 31%, transparent),
      url(../assets/img/debby-hudson-MzSqFPLo8CE-unsplash.jpg);
    margin-bottom: -3.5rem;
  }
  section .bg-site .bg-content {
    width: 100%;
    padding: 10rem 1rem 0 1.5rem;
  }
  section .bg-site .bg-content p {
    font-size: 117%;
  }
  section .bg-site .bg-content .btn {
    padding: 0.7rem 2rem;
  }
}

.about {
  margin: 0 3rem;
  padding: 2rem 0;
  border-bottom: 1px solid #838383c0;
}

.about .abt-head {
  padding: 1rem 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: ease-in-out all 0.8s;
  transition: ease-in-out all 0.8s;
}

.about .abt-head h2 {
  text-align: center;
  font-size: 200%;
  font-weight: 100;
}

.about .abt-head.abtheadonload {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.about .abt-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.about .abt-body .abt-left {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  opacity: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.about .abt-body .abt-left p {
  line-height: 26px;
}

.about .abt-body .abt-left .btn {
  padding: 0.7rem 2rem;
  border: none;
  outline: none;
  margin-top: 1rem;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  opacity: 0;
  border-radius: 50px;
  background-color: rgba(252, 225, 106, 0.856);
}

.about .abt-body .abt-left .btn.onscroll {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.about .abt-body .abt-left.abttxtonload {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.about .abt-body .abt-right {
  width: 40%;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-transform: translateY(80%);
  transform: translateY(80%);
  opacity: 0;
  -webkit-transition: ease-in-out 0.8s all;
  transition: ease-in-out 0.8s all;
}

.about .abt-body .abt-right img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
  min-width: 315px;
  border-radius: 5px;
}

.about .abt-body .abt-right.abtonload {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

@media (max-width: 924px) {
  .about .abt-body .abt-right {
    margin-left: 1rem;
  }
}

@media (max-width: 838px) {
  .about .abt-body .abt-right {
    width: 50%;
    margin-left: 0;
  }
}

@media (max-width: 764px) {
  .about .abt-head {
    padding: 0 0 2rem;
  }
  .about .abt-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .abt-body .abt-left {
    width: 90%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .about .abt-body .abt-left .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about .abt-body .abt-right {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media (max-width: 694px) {
  .about {
    margin: 0 1rem;
    padding: 2rem 0.7rem;
  }
}

@media (max-width: 488px) {
  .about .abt-body .abt-right img {
    min-width: 293px;
  }
}

@media (max-width: 376px) {
  .about .abt-body .abt-right img {
    min-width: 256px;
  }
  .about .abt-body .abt-left p {
    text-align: justify;
  }
}

.footer {
  background-color: #000000;
}

.footer .footer-head {
  padding: 4rem 10px 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.footer .footer-head .footer-logo {
  width: 30%;
  text-align: center;
  padding: 0 8px;
}

.footer .footer-head .footer-logo .f-logo {
  max-width: 110px;
  height: auto;
  margin: 0 auto;
}

.footer .footer-head .footer-logo .f-logo img {
  width: 100%;
}

.footer .footer-head .footer-logo h4,
.footer .footer-head .footer-logo h5 {
  color: white;
  margin-top: 5px;
}

.footer .footer-head .footer-nav,
.footer .footer-head .footer-ser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20%;
}

.footer .footer-head .footer-nav h3,
.footer .footer-head .footer-ser h3 {
  color: white;
  margin-bottom: 15px;
}

.footer .footer-head .footer-nav .nav-item .nav-link a,
.footer .footer-head .footer-ser .nav-item .nav-link a {
  color: #818181;
}

.footer .footer-head .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
  color: white;
}

.footer .footer-head .footer-contact h3 {
  margin-bottom: 15px;
}

.footer .footer-head .footer-contact i {
  margin-bottom: 8px;
  color: rgba(148, 148, 148, 0.842);
}

.footer .footer-head .footer-contact .social-icons {
  padding-top: 15px;
}

.footer .footer-head .footer-contact .social-icons i {
  padding-right: 8px;
  font-size: 130%;
  color: #818181;
}

.footer .footer-body {
  color: #818181;
  width: 80%;
  border-top: 1px solid #727272ee;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 79%;
  text-align: center;
}

@media (max-width: 768px) {
  .footer .footer-head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer .footer-head .footer-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 45%;
  }
  .footer .footer-head .footer-contact {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 40%;
  }
  .footer .footer-head .footer-nav {
    width: 45%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .footer .footer-head .footer-ser {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 40%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  .footer .footer-head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
  }
  .footer .footer-head .footer-logo {
    width: 100%;
    margin-bottom: 2rem;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .footer .footer-head .footer-nav {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 45%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .footer .footer-head .footer-ser {
    width: 45%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .footer .footer-head .footer-contact {
    width: 100%;
    margin-top: 1rem;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
}

.art {
  margin: 1rem 3rem;
}

.art .cate {
  padding: 0 0 2.5rem;
  border-bottom: 1px solid #838383c0;
}

.art .cate .cate-head {
  padding-right: 10px;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.art .cate .cate-head h2 {
  font-size: 162%;
  font-weight: 100;
  margin-bottom: 0.4rem;
}

.art .cate .cate-head .cate-head-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.art .cate .cate-head .cate-head-body p {
  color: #3d3d3d;
}

.art .cate .cate-head .cate-head-body a {
  color: black;
}

.art .cate .cate-head.scrollon {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.art .cate .cate-body .cate-cards {
  margin-right: 10px;
  overflow-x: hidden;
}

.art .cate .cate-body .cate-cards .cards {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  opacity: 0;
  -webkit-transform: translateX(70px);
  transform: translateX(70px);
  -webkit-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}

.art .cate .cate-body .cate-cards .cards .card {
  max-width: 230px;
  min-width: 142px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2), -2px 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 1rem 2% 1rem 0;
  position: relative;
}

.art .cate .cate-body .cate-cards .cards .card:last-of-type {
  margin-right: 0;
}

.art .cate .cate-body .cate-cards .cards.scrollleft {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.art .works {
  padding: 1.5rem 0;
  margin-top: 1rem;
}

.art .works .works-head {
  padding: 0 10px;
  opacity: 0;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}

.art .works .works-head h2 {
  font-size: 162%;
  font-weight: 100;
  margin-bottom: 0.4rem;
}

.art .works .works-head p {
  color: #3d3d3d;
}

.art .works .works-head.scrolling {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.art .works .work-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  padding: 0 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.art .works .work-body .work-card {
  opacity: 0;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
  width: 19%;
  margin-bottom: 1rem;
}

.art .works .work-body .work-card img {
  border-radius: 0px;
}

.art .works .work-body .work-card h4 {
  font-weight: 100;
  font-size: 130%;
  padding-left: 3px;
}

.art .works .work-body .work-card p {
  font-size: 93%;
  padding-left: 3px;
}

.art .works .work-body .work-card.scrollcard {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.art img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .art .works .work-body .work-card {
    width: 24%;
  }
}

@media (max-width: 894px) {
  .art {
    margin: 1rem 1rem;
  }
  .art .cate .cate-body .cate-cards .cards {
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .art .cate .cate-body .cate-cards .cards::-webkit-scrollbar {
    display: none;
  }
  .art .cate .cate-body .cate-cards .cards .card {
    min-width: 23%;
    margin: 1rem 1.5% 1rem 0;
  }
}

@media (max-width: 764px) {
  .art .cate {
    padding: 1rem 0 2rem;
  }
  .art .cate .cate-body .cate-cards .cards .card {
    min-width: 31%;
    margin: 1.5rem 4% 1rem 0;
  }
  .art .works .work-body .work-card {
    width: 31%;
  }
}

@media (max-width: 512px) {
  .art .cate .cate-body .cate-cards .cards .card {
    min-width: 92%;
  }
  .art .works .work-body .work-card {
    width: 48%;
  }
}
/*# sourceMappingURL=style.css.map */
