* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("/assets/img/logo.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("/assets/img/logo.jpg");
  background-position: top;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .nav-brand img {
  width: 233px;
  height: 66px;
}

.navbar .toggle-collapse {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1.3rem;
  border: 1px solid #d1d1d1a2;
  border-radius: 7px;
  padding: 5px 8px;
}

.navbar .toggle-collapse .toggle-icon {
  font-size: 1.5rem;
}

.navbar .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  line-height: 70px;
}

.navbar .navbar-nav .nav-item .nav-link a {
  color: #000000;
  display: inline-block;
  width: 100%;
  padding: 0 1.5rem;
  font-size: .9rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item .nav-link a:hover {
  font-size: 1rem;
  background-color: #ffffff;
}

.navbar.nav-collapse {
  height: 350px;
}

section .bg-site img {
  max-width: 100%;
}

@media (max-width: 912px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .nav-brand {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .navbar .toggle-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar .navbar-nav .nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #c5c5c5;
    padding: 0;
    width: 100%;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    text-align: center;
  }
}

.footer {
  background-color: #000000;
}

.footer .footer-head {
  padding: 4rem 10px 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}

.footer .footer-head .footer-logo {
  width: 30%;
  text-align: center;
  padding: 0 8px;
}

.footer .footer-head .footer-logo .f-logo {
  max-width: 110px;
  height: auto;
  margin: 0 auto;
}

.footer .footer-head .footer-logo .f-logo img {
  width: 100%;
}

.footer .footer-head .footer-logo h4, .footer .footer-head .footer-logo h5 {
  color: #b4b4b4;
  margin-top: 5px;
}

.footer .footer-head .footer-nav, .footer .footer-head .footer-ser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.footer .footer-head .footer-nav h3, .footer .footer-head .footer-ser h3 {
  color: #ffffff;
  margin-bottom: 15px;
}

.footer .footer-head .footer-nav .nav-item .nav-link a, .footer .footer-head .footer-ser .nav-item .nav-link a {
  color: rgba(148, 148, 148, 0.842);
}

.footer .footer-head .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  color: #ffffff;
}

.footer .footer-head .footer-contact h3 {
  margin-bottom: 15px;
}

.footer .footer-head .footer-contact i {
  margin-bottom: 8px;
  color: rgba(148, 148, 148, 0.842);
}

.footer .footer-head .footer-contact .social-icons {
  padding-top: 15px;
}

.footer .footer-head .footer-contact .social-icons i {
  padding-right: 8px;
  font-size: 130%;
  color: rgba(148, 148, 148, 0.842);
}

.footer .footer-body {
  color: rgba(148, 148, 148, 0.842);
  width: 80%;
  border-top: 1px solid #727272ee;
  margin: 0 auto;
  padding: 10px 0;
  font-size: 79%;
  text-align: center;
}

@media (max-width: 768px) {
  .footer .footer-head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer-head .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 45%;
  }
  .footer .footer-head .footer-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 40%;
  }
  .footer .footer-head .footer-nav {
    width: 45%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer .footer-head .footer-ser {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 40%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  .footer .footer-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-head .footer-logo {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer .footer-head .footer-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */